<ol class="breadcrumb">
	<li><a href="#/home">首页</a></li>
	<li class="active">试卷列表</li>
</ol>
<a href="#/paperEdit/id/0/" class="btn btn-primary pull-right mb12">添加试卷</a>
<table class="table table-striped table-bordered">
	<thead>
		<tr>
			<td>id</td>
			<td>名称</td>
			<td>试题数</td>
			<td>操作</td>
		</tr>
	</thead>
	<tbody>
		<tr ng-repeat="p in paperList">
			<td>{{p.id}}</td>
			<td>{{p.name}}</td>
			<td>{{p.questionIds.length}}</td>
			<td>
				<a href="#/paperPreview/id/{{p.id}}/" class="btn btn-primary">预览</a>
				<a href="#/paperEdit/id/{{p.id}}/" class="btn btn-primary">编辑</a>
				<a href="javascript:void(0);" class="btn btn-primary" ng-click="removePaper(p.id)">删除</a>
			</td>
		</tr>
	</tbody>
</table>
<!--分页-->
<pagenav pageobj="pageObject" pagefunc="pageFunction"></pagenav>