<ol class="breadcrumb">
	<li><a href="#/home">首页</a></li>
	<li class="active">试题列表</li>
</ol>
<a href="#/questionEdit/id/0/type/choice" class="btn btn-primary pull-right mb12">添加试题</a>
<table class="table table-striped table-bordered">
	<thead>
		<tr>
			<td>id</td>
			<td>类型</td>
			<td>名称</td>
			<td>操作</td>
		</tr>
	</thead>
	<tbody>
		<tr ng-repeat="q in questionList">
			<td>{{q.id}}</td>
			<td>{{q.qtype}}</td>
			<td>{{q.name}}</td>
			<td>
				<!-- <a ui-sref="edit.choice({id:q.id})" href="#" class="btn btn-primary">编辑</a> -->
				<a href="#/questionEdit/id/{{q.id}}/type/{{q.qtype | qtypestr_en}}" class="btn btn-primary">编辑</a>
				<a href="javascript:void(0);" class="btn btn-primary" ng-click="removeQuestion(q.id)">删除</a>
			</td>
		</tr>
	</tbody>
</table>
<!--分页-->
<pagenav pageobj="pageObject" pagefunc="pageFunction"></pagenav>