<div class="row">
    <div class="col-sm-8">
        <form class="form-horizontal">
			<div class="panel panel-info">
			    <div class="panel-heading">试题信息</div>
			    <div class="panel-body">
			        <div class="form-group">
			            <label class="col-sm-2 control-label">题型:</label>
			            <div class="col-sm-3">
			                <select class="form-control" ng-model="formData.qtype" ng-options="t as t|qtypestr for t in qtypes" ng-change="changeTpl()">
			                	
			                </select>
			            </div>
			        </div>
			        <div class="form-group">
			            <label class="col-sm-2 control-label">名称:</label>
			            <div class="col-sm-8">
			                <input type="text" class="form-control" ng-model="formData.name">
			            </div>
			        </div>
			        <div ui-view></div>
			        
			    </div>
			</div>
			<div class="form-group" style="margin:80px 0">
			    <label class="col-sm-2 control-label">&nbsp;</label>
			    <div class="col-sm-3">
			        <button class="btn btn-block btn-primary" ng-click="submit()">提交</button>
			    </div>
			    <div class="col-sm-3">
			        <a href="#" ui-sref="index" class="btn btn-default btn-block">取消<a/>
			    </div>
			</div>
        </form>
    </div>
    <div class="previewarea col-sm-4">
	    <div class="panel panel-info">
	        <div class="panel-heading">题目预览</div>
	        <div class="panel-body" style="max-height: 500px; overflow-y: auto;">
	        	<div class="form-control-static">{{formData.content | blockfilter}}</div>
	        	<ul class="list-unstyled">
	        		<li ng-repeat="o in formData.options" ng-class="{'text-success': $index==formData.answer}">
	        			<label class="radio-inline">
	                        <input type="radio" name="rightanswer2">
	                        {{$index | optionstr}}. {{o.name}}
	                    </label>
	        		</li>
	        	</ul>
	        </div>
	    </div>
	</div>
</div>